/* 改变主题色变量 */
$--color-primary: #d83838;
$--color-warning: #d7a746;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import '~element-ui/packages/theme-chalk/src/index';

.el-collapse-item__header {
  font-size: $font-medium;
}
.el-collapse-item__content {
  font-size: $font-small;
}
.el-collapse {
  max-width: 38rem;
}

@media (max-width: 768px) {
  .el-collapse {
    max-width: 320px;
  }
}

.el-button {
  font-size: 16px;
}
.el-input__inner {
  height: 42px;
  line-height: 42px;
}
.el-button.blue-btn {
  min-width: 90px;
  color: #4a90e2;
  border-color: #4a90e2;
  &:hover {
    background-color: #4a90e2;
    color: #ffffff;
    // background: rgba($color: #4a90e2, $alpha: 0.6);
  }
  &:focus {
    background-color: #e1e9f3;
  }
}
.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
  border-color: #dcdfe6;
}
.el-form-item {
  margin-bottom: 0;
}
.el-message__content {
  line-height: 1.3;
}
